.password {
  background-color: #e6efef;
  height: 99vh;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-wrapper {
  border: 0;
  padding: 10px;
  width: 600px;
  height: 450px;
  /* margin: 70px auto; */
  border-radius: 8px;
  background-color: #fff;
}
.password-reset {
  border: 1px solid black;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}
.password-reset h1 {
  text-transform: uppercase;
}

.btn {
  /* display: block; */
  width: 100%;
  background-color: #005555;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  border: 0;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.back {
  width: 100%;
  background-color: #fff;
  color: #005555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
  /* border: 0; */
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.back svg {
  /* border: 1px solid red; */
  height: 20px;
}
.reset-feild {
  position: relative;
  /* border: 1px solid green; */

  text-align: left;
}

.reset-feild input {
  width: 93%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #dbdbdb;
  padding-left: 30px;
}
.reset-feild svg {
  position: absolute;
  left: 2px;
  bottom: 13px;
}
@media screen and (max-width: 375px) {
  .reset-feild input {
    width: 85%;
    margin-left: 8px;
  }
  .reset-feild svg {
    left: 10px;
  }
}
